.container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 0px;
    top: 0px;
    background-color:#547CFF ;
}
.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}
.container-main-images{
    margin-top: 20px;
    left: 0;
    right: 0;
    margin-bottom: 80px;
/*    background-color: coral;*/
}
.container-list{
 flex-direction: row;
}
.container-search{
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.goback{
    position: absolute;
    right: 20px;
    top: 20px;
}
.container-search-input{
    height: 50px;
    width: 0px;
    border-width: 0px;
    background-color:#fff;
    color: #000;
    placeholder-color:#000;
}
.animation-input{
    transform-origin:0px 0px;
    animation-name:inputMax;
    animation-delay:1s;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}
.container-search-btn{
    height: 45px;
    width: 100px;
    margin-left: 20px;

}
@keyframes inputMax
{
       from{
           width: 0px;
           opacity: 0.5;
       }
       to{
           opacity: 1;
           width: 450px;
       }
}